<h1>Welcome to Anagrams!</h1>

<!-- Aquí deberá ir la forma de HTML -->
<form action="/new_word" method="post">
<hr>
Introduce una palabra:<br><br>
    <input type="text" placeholder="Una palabra" name="user_word"><br><br>
    <input type="submit">
</form>

